{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}{{ page_title | default:"untitled page"}}{% endblock %}
    </title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div id="logo"><img src="{% static 'img/logo.png' %}" alt="" /></div>
        <div id="top_menu"> <a href="/cal">Home </a> | Calendar | About | <a href="/cal/contact_us">Contact Us</a></div>
        <div id="banner"><img src="{% static 'img/edureka_banner.png' %}" alt="" /></div>
    </header>
    <aside id="rightsidebar">
        <nav id="nav">
            <ul>
                <li> Menu 1</li>
                <li> Menu 2</li>
                <li> Menu 3</li>
                <li> Menu 4</li>
            </ul>
        </nav>
    </aside>
    <section id="main">
        {% block content %}
        <p> Placeholder text in base template. Replace with page content</p>
        {% endblock content %}
    </section>
    <footer id="footer"> Copyright &copy;
    <script type="text/javascript">
        document.write(new Date().getFullYear());
    </script> Edureka
    </footer>
</div>

</body>
</html>